<!-- shows the user all registered members -->
<% @groups.each do |group| %>
	<div class = "row">
		<div class = "white-column"><%= group.id%></div>
		<div class = "grey-column"><%= group.name%></div>
		<div class = "white-column"><%= group.description%></div>
		<img src="<%= group.image.url.to_s %>" style="width:90px;height:90px" class = "profile-image"></img>

			<!-- add is a button to add a friend  -->
        	<%=link_to "show", { :action => 'show', :id => group.id}%>
        	<% if !is_follower?(current_user.id, group.id)%>
        		<%=link_to "follow", { :action => 'follow', :id => group.id}%>
        	<%else%>
        		<%=link_to "unfollow", { :action => 'unfollow', :id => group.id}%>
        	<%end%>
	</div>
<%end%>
